<% layout('../layouts/boilerplate') %>
<div class="container d-flex jutify-content-center align-items-center mt-2 mb-2">
    <div class="row">
     <div class="col-md-12 offset-md-6 col-xl-12 offset-xl-9">
         <h2 class="card-title text-center ">New Campground</h5>
      <div class="card shadow">
          <div class="card-body">
            <form action="/campgrounds" method="POST" novalidate class="validatedForm" enctype="multipart/form-data">
                <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground price</label>
                <div class="input-group ">
                    <span class="input-group-text" id="price">&#36;</span>
                    <input type="text" class="form-control" placeholder="0" aria-label="Username" aria-describedby="price" name="campground[price]" required>
                    <div class="valid-feedback">
                        looks good!
                    </div>
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-2">
                <label class="for-control" for="images">Images</label>
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="images" name="image" multiple>
                <label class="input-group-text" for="images">Upload</label>
              </div>
            <div class="mb-3">
                <button class="btn btn-success col-12">add campground</button>
            </div>
            </form>
          </div>
      </div>
     </div>
   </div>
</div>


