<% layout('../layouts/boilerplate') %>
    <!-- <div class="container" style="width: 600px;">
        <div class="row">
            <div class="col-md-6 offset-md-6 col-xl-10 offset-xl-1">
                <h2 class="card-title text-center ">Edit User</h5>
                    <div class="card shadow">
                        <div class="card-body">
                            <form action="/<%=user._id%>?_method=PUT" method="POST" novalidate class="validatedForm" enctype="application/x-www-form-urlencoded" >
                                <div class="mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" type="email" id="Email" name="user[email]"
                                        value="<%=user.email%>" required>
                                    <div class="valid-feedback">
                                        looks good!
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="username">Username</label>
                                    <input class="form-control" type="text" id="location" name="user[username]"
                                        value="<%=user.username%>" required>
                                    <div class="valid-feedback">
                                        looks good!
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-success col-12">Update</button>
                                </div>
                            </form>
                            <a class="btn btn-warning col-12" href="#">Back</a>
                        </div>
                    </div>
            </div>
        </div>
    </div> -->
    <h1>This feature is not available yet!</h1>